.btn {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 8px 26px;
    border: 0;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    outline: inherit !important;
}

/* Button size */

.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 25px;
    font-size: 13px;
    background: rgba(17, 17, 17, 0.8);
    color: #fff;
}
.btn-lg:hover,
.btn-group-lg > .btn:hover{
    background: rgba(17, 17, 17, 1.8);
    color: #fff;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 6px 25px;
    font-size: 11px;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 5px 25px;
    font-size: 10px;
}

.btn .icon-before {
    margin-right: 6px;
}

.btn .icon-after {
    margin-left: 6px;
}
