@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css);
@import 'button.css';
@import 'footer.css';
@import 'font-awesome.css';
@import 'header.css';
@import 'home.css';
@import 'links.css';
@import 'simple-line-icons.css';
@import 'projects.css';
@import 'bubba-effects.css';

.page-content{
  min-height: calc(100vh - 200px);
  margin: auto;
  width: clamp(320px, 95vw, 940px);
  padding: 50px 5px 50px 5px;
}

.blog-post-preview{
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 4px rgba(230, 230, 230, 1);
  border-radius: 5px;
  border: 1px solid rgba(230, 230, 230, 1);
  padding: 5px;
  margin-bottom: 20px;
}

.blog-post-preview:after{
  content: "";
  display: table;
  clear: both;
}

.blog-post-preview-column{
  float: left;
  width: 50%;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .blog-post-preview-column {
    width: 100%;
    padding: 5px;
  }
}

.navbar a,
.form-control {
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.about-text {
  font-family: Raleway, "Times New Roman", Times, sans-serif;
  font-style: normal;
  font-size: 18px;
  padding: 20px;
}

.pfblock {
    padding: 120px 0 100px;
}

.pfblock-line {
  background: rgba(135, 135, 135, 0.5);
  width: 100px;
  height: 1px;
  margin: 30px auto;
}
